<link rel="stylesheet" href="/apps/om-dealer-details/dealer-app/main.css">
<div id="om-dealer-details-app"></div>
<script type="module" src="/apps/om-dealer-details/dealer-app/main.js" defer></script>

{% schema %}
    {
      "name": "Dealer App",
      "target": "body"
    }
    {% endschema %}
    